devoirs/exo_dtd.dtd

<!-- Afala PHAXAY 21603820 Inalco IM -->

<!-- DTD pour structurer un livre-->

<!ELEMENT livres (livre+)>

<!-- livre -->
<!ELEMENT livre (auteur, titre)>
    <!ATTLIST livre isbn CDATA #REQUIRED>
    <!ATTLIST livre genre CDATA #REQUIRED>
    <!ELEMENT auteur (prenom, nomDeFamille)>
        <!ATTLIST auteur nationalite CDATA #REQUIRED>
        <!ELEMENT prenom (#PCDATA)>
        <!ELEMENT nomDeFamille (#PCDATA)>
    <!ELEMENT titre (#PCDATA)>
